@font-face {
  font-family: 'FunnelSans';
  src: url('/src/assets/fonts/FunnelSans-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: light;
}
@font-face {
  font-family: 'FunnelSans';
  src: url('/src/assets/fonts/FunnelSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'FunnelSans';
  src: url('/src/assets/fonts/FunnelSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: 'FunnelSans';
  src: url('/src/assets/fonts/FunnelSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'FunnelSans';
  src: url('/src/assets/fonts/FunnelSans-ExtraBold.ttf') format('truetype');
  font-weight: 900;
  font-style: black;
}
@import 'tailwindcss';

@theme {
  --font-FunnelSans: 'FunnelSans', sans-serif;
}
:root {
  body {
    @apply bg-[#1A1C1E];
  }

  #root {
    @apply h-dvh w-dvw;
  }
}
